{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .head_text {
        color: white;
    }
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead masthead-dark">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to Song's Blog </h3>
                    <p class="text-light">This website is still being completed... &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-9 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":300" }}{% if post.content|length > 300 %} ...... {% endif %}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-normal">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        <a class="btn btn-normal" style="margin: 20px; margin-top: 0px" href="{% url 'create_post' %}">Create Post</a>
        </div>
</div>
{%endblock%}