{% block sidebar %}

<style>
      .sidebar-card {
            box-shadow: 0 16px 48px #E3E7EB;
            width: inherit;
            height: inherit;
      }
</style>

<!-- Sidebar Widget Column -->
<div class="col-md-3 ml-auto">
      <div class="card my-4 sidebar-card">
            <h5 class="card-header" style="font-family: 'Arial'; font-size: 24px;">About me</h5>
            <div class="card-body">
                  <!-- <h3 class="card-title">About me</h3> -->
                  <p class="card-text card-text-sm" style="font-family: 'Arial'; font-size: 16px;">This blog is Song's first trial on building full-stack web project using Django.</p>
                  <a href="https://github.com/songwdfu/" class="btn btn-normal btn-sm" style="font-size: 12px;">My personal github page!</a>
            </div>
      </div>
</div>
{% endblock sidebar %}